
@import '~@/style/utils/mixins.scss';
@import "~@/style/var.scss";

@include fit-block(icon) {
    display: flex;
    height: 100%;
    position: relative;
  }
  
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
